<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773520984019-vheo50f9vhct5lnb3ik5uncg0up5ahje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773520984019-vheo50f9vhct5lnb3ik5uncg0up5ahje</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>773520984019-v93p8uj5gbfkiuqgdihg3mcq52g56nqi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxTB0FCNZbBrg3_HUZD8fxum3bjK9PdOY</string>
	<key>GCM_SENDER_ID</key>
	<string>773520984019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romarioburke.HLa.hla.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hts-lunchapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hts-lunchapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773520984019:ios:5bcbf1b0b2c010290b5126</string>
</dict>
</plist>